/* cssfile.css */

.header {
  padding: 10px;
  background: #1abc9c;
}

h1 {
 color: #FFFF33;
 text-align: center;
 font-family: CommercialScript BT;
 font-size: 70px;
}

body {
 background-color: #fffabc;
 color: #35b3ba;
 

}


hr.new1 {
  border: 3px solid black;
}

table.first {
  border: 1px solid black;
  width: 80%;
}


th {
  border: 1px solid black;
  height: 20px;
  padding: 15px;
  background-color: #4CAF50;
  color: white;
  font-size: 20px;
  font-family: "Palatino Linotype";
}

td {
  border: 1px solid black;
  padding: 15px;
  font-family: andalus;
}


p {
 background-color: #fffabc;
 color: #35b3ba;
 text-align: right;
 border: 3px groove #FFFF33;
 font-family: andalus;
 font-size: 20%;
}